@media screen and (max-width: 680px){



  body{
    display: flex;
    flex-direction: column;
  }
  .nav-ul{
    display: none;
  }
  .nav-phone-number{
    display: none;
  }
  .nav-hero{
    height: 100vh;
  }

  .hero{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .profile-image{
    background-size: 165%;
    background-position: -75px -60px;
    width: 100%;
    height: 250px;
    border-radius: 0;
    order: 2;

  }

  .profile-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    order: 3;
  }

  .profile-section{
    max-width: 480px;
    height: 100vh;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
  }
  .hero-img-container{
    display: none;
  }

  .nav-hero{
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  /* .section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;

  } */

  .image-container{
    border-top: 4px solid var(--primary);
    max-height: 400px;
  }

  .content-box{
    width: 100%;
  }

  
  .services-box .services-img .image-container{
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    max-height: 200px;
    
  }
  .services-section{
    height: 1200px;
  }
  
  .services-paragraph{
    opacity: .6;
    line-height: 1.5rem;
  }

  .content-paragraph{
    line-height: 1.5rem;
  }



  .about-section{
    display: flex;
    flex-direction: column-reverse;
  }

  .about-img{
    background-size: cover;
  }

  footer{
    flex: 1 1 auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .foot-bottom{
    flex-direction: column;
    height: auto;
    gap: 2rem;
    margin-top: 2.5rem;
  }

  .footer-call p{
    font-size: 1.5rem;
  }

  footer i{
    padding: .5rem;
  }

  footer ul{
    justify-content: center;
  }

  .footer-call{
    align-self: center;
  }
}
