*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* colors */
  --primary: rgb(205, 2, 34);
  --primary-opacity: rgba(205, 2, 34, .6);
  --dark: #333;
  --light: #fff;
  --dark-background: rgba(15, 13, 13, .9);

  /* fonts */
  --font-1: poppins;
}
html{scroll-behavior: smooth;}

body{
  font-family: var(--font-1);
  background-color: var(--light);
  
}

.nav-hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo{
  font-size: x-large;
  letter-spacing: 4px;
}

.nav{
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0 1rem;
  position: sticky;
  border-bottom: 5px solid var(--dark);
}

.nav-phone-number{
  letter-spacing: 3px;
  font-weight: 600;
}

.nav-ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.profile-ul{
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

/* .social{
  justify-content: flex-start;
} */

.phone-number{
  padding-left: 1.5rem;
}

.nav-li{
  text-decoration: none;
  padding: 1rem;
}

.icon{
  padding: 5px;
}

.phone-bracket{
  color: var(--primary);
}

.nav-li a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav-li a:hover{
  font-weight: 400;
  color: var(--primary);
}

i{
  color: var(--light);
  font-size: 30px;
}

.profile-image{
  background-image: url(images/street.JPG);
  background-size: 200%;
  background-position: -115px center  ;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  border: 5px solid var(--dark);
  border-radius: 50%;
  /* flex-grow: 1; */
  align-self: center;
}
/* .nav-hero{position: relative;} */

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  
}

.profile-section{
  max-width: 40%;
  background-color: var(--primary);
  height: 100%;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hub{
  color: black;
}

.profile-icon{
  padding: 1rem;
  justify-self: center;
}

.hero-img-container{
  background-image: linear-gradient(to right, #cd0222 , rgba(205, 2, 34, .0) 7.5%), url(images/home1.jpg);
  background-size: cover;
  background-position: left center; 
  width: 100%;
  height: 100%;
  
}

.profile-heading{
  color: var(--light);
  letter-spacing: 3px;
  text-align: center;
  /* opacity: .8; */
  padding: 1rem;
  font-weight: 600;
  font-size: 3rem;
}

.profile-paragraph{
  color: var(--light);
  opacity: .8;
  text-align: center;
  padding: 0 1rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.section{
  flex-wrap: wrap;
  min-height: 500px;
  width: 100%;
  display: flex;
  margin-top: 4rem;
  padding: 0 2rem;
}

.about-img{
    background-image: url(images/doorkey.jpg);
    background-position: center;
    min-height: 400px;
    width: 50%;
}

.image-container{
  width: 50%;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-box{
  width: 50%;
  background-position: center;
  color: var(--light);
  background-color: var(--dark-background);
  padding: 2rem;
  border-left: 4px solid var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  opacity: .9;
}

.content-paragraph{
  line-height: 2.5rem;
  opacity: .6;
}

.services-img{
  background-image: url(images/papers.jpg);
}
/* contact section */

form{
  padding: 2rem;
}

.form-group label{
  display: block;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.form-group input{
  width: 320px;
  padding: 5px;
  font-size: 1.2rem;
  color: #333;
}

textarea{
  font-size: 1.2rem;
  font-family: var(--font-1);
}

input.invalid{
  border: 1px solid red;

}
.error-hint{
  color: red;
}

.hidden{
  display: none;
}

hr{
  height: 1px;
  color: #333;
  opacity: .5;
  margin-bottom: 30px;
  margin-top: 30px;
}

button{
  padding: 10px;
  font-size: 1.25rem;
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;  
}

button:hover{
  background-color: var(--light);
  border: 2px solid var(primary);
  color: var(--light);
}

button a{
  text-decoration: none;
  color: var(--light);
}

button a:hover{
  color: var(--primary);
}


/* footer */

footer{
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  padding-top: 2rem;
  margin-top: 4rem;
  border-top: 4px solid var(--primary);
  height: 300px;
}

.foot-top{
  width: 100%;
  height: 50px;
  text-align: center;
  padding-bottom: 3rem;
}

.foot-bottom{
  display: flex;
  justify-content: space-around;
}

.contact-text{
  font-size: 2.5rem;
  color: var(--light);

}

.footer-ul{
  display: flex;
  width: auto;
  list-style: none;
}

footer i{
  color: white;
  font-size: 2.5rem;
  padding-right: 2rem;

}

.footer-call p{
  font-size: 2rem;
  padding-right: 2rem;
  color: var(--primary);
}

.footer-call i{
  font-size: 1.25rem;
  padding-right: 1rem;
}

.footer-number{
  color: white;
  list-style: none;
  padding-left: 1rem;
}

.footer-call{
  display: flex;
  align-items: center;
}

